<body>

  <main>
   <div class="form">
     <h4>ログイン</h4>
     
      <%= form_with model: @user, url: user_session_path do |f| %>
   

  <div class="field">
    <%= f.label :ユーザーネーム %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div> 

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>


  <div class="actions">
    <%= f.submit "ログイン" ,class:"btn btn-primary" %>
  </div>
  
   <% end %>

  </div>
 </main>

</body>