<h2>募集</h2>

 <%= form_with model: @valorant, method: :post do |f| %>

  <h4>目的</h4>
   <%= f.select :purpose, [['フレンド'], ['対戦'], ['協力プレイ']] %>

  <h4>ロール</h4>
   <%= f.select :role, [['デュエリスト'], ['コントローラー'], ['イニシエーター'], ['センチネル']] %>

　<h4>モード</h4>
　 <%= f.select :mode, [['アンレート'], ['コンペティティブ'], ['スパイクラッシュ'], ['デスマッチ'], ['チームデスマッチ'], ['レプリケーション'], ['エスカレーション'], ['カスタムマッチ']] %>

　<h4>DiscordID</h4>
   <%= f.text_field :discord_id %>

　<h4>ValorantID</h4>
　 <%= f.text_field :valorant_id %>

　<h4>メッセージ</h4>
　 <%= f.text_area :message %>

　 <%= f.submit '募集' %>

  <% end %>


 <% @valorants.each do |valorant| %>

  <h4>ユーザーID</h4>
   <%= valorant.user_id %>

  <h4>目的</h4>
   <%= valorant.purpose %>

  <h4>ロール</h4>
   <%= valorant.role %>

  <h4>モード</h4>
   <%= valorant.mode %>

  <h4>DiscordID</h4>
   <%= valorant.discord_id %>

  <h4>ValorantID</h4>
   <%= valorant.valorant_id %>

  <h4>メッセージ</h4>
　 <%= valorant.message %>


 <% end %>


 <%= paginate @valorants %>