

 <% @valorants.each do |valorant| %>

  <h5>ユーザーID</h5>
   <%= link_to valorant.user_id, user_path(valorant.user_id) %>

  <h5>目的</h5>
   <%= valorant.purpose %>

  <h5>ロール</h5>
   <%= valorant.role %>
   
  <h5>モード</h5>
   <%= valorant.mode %>

  <h5>DiscordID</h5>
   <%= valorant.discord_id %>

  <h5>メッセージ</h5>
　 <%= valorant.message %>

  <h5><%= link_to "募集を見る", valorant_path(valorant) %></h5>

 <% end %>


 <%= paginate @valorants %>