<body>
 
 <main>
  <div class="index">
   
   <% @valorants.each do |valorant| %>


  <div class="box">
    <h5>ユーザーID</h5>
    <%= link_to valorant.user_id, user_path(valorant.user_id) %>
  </div>
    
  <div class="box">
    <h5>目的</h5>
    <%= valorant.purpose %>
  </div>
    
  <div class="box">
    <h5>ロール</h5>
    <%= valorant.role %>
  </div>
    
  <div class="box">
    <h5>モード</h5>
    <%= valorant.mode %>
  </div>
    
  <div class="box">
    <h5>DiscordID</h5>
    <%= valorant.discord_id %>
  </div>
    
  <div class="box">
    <h5>メッセージ</h5>
　  <%= valorant.message %>
　</div>
　  
  <div class="box">
    <div class="button"><%= link_to "募集を見る", valorant_path(valorant), class:"btn btn-primary" %></div>
  </div>
  
   <% end %>
   
</div>
   <%= paginate @valorants %>
   
 
  </main>
  
 </body>