
<body>
 
 <main>
  <div class="form">
 
   <%= form_with model: @valorant, method: :post do |f| %>
   
   <div class="box">
    <h5>目的</h5>
     <div class="select"><%= f.select :purpose, [['フレンド'], ['対戦'], ['協力プレイ']] %></div>
   </div>
   
   <div class="box">
    <h5>ロール</h5>
     <div class="select"><%= f.select :role, [['デュエリスト'], ['コントローラー'], ['イニシエーター'], ['センチネル']] %></div>
   </div>
   
   <div class="box">
    <h5>モード</h5>
　   <div class="select"><%= f.select :mode, [['アンレート'], ['コンペティティブ'], ['スパイクラッシュ'], ['デスマッチ'], ['チームデスマッチ'], ['レプリケーション'], ['エスカレーション'], ['カスタムマッチ']] %></div>
   </div>
   
   <div class="box">
    <h5>DiscordID</h5>
     <div class="select"><%= f.text_field :discord_id %></div>
   </div>
   
   <div class="box">
    <h5>メッセージ</h5>
     <div class="select"><%= f.text_area :message %></div>
   </div>
   
　   <div class="select"><%= f.submit '募集' ,class:"btn btn-primary" %></div>

    <% end %>
   
   </div>
   
  </main>
  
 </body>