<h4>ユーザーネーム</h4>
   <%= @valorant.user.name %>

  <h4>目的</h4>
   <%= @valorant.purpose %>

  <h4>ロール</h4>
   <%= @valorant.role %>

  <h4>モード</h4>
   <%= @valorant.mode %>

  <h4>DiscordID</h4>
   <%= @valorant.discord_id %>

  <h4>メッセージ</h4>
　 <%= @valorant.message %>

 <% if @valorant.user == current_user %>
 
　<%= link_to '削除する', valorant_path(@valorant.id),method: :delete, class: "btn-sm btn-danger","data-confirm"=>"本当に消しますか？" %><br>
　
 <% end %>
　<div class="comments ml-5 mt-5">

    <%= form_with(model:[@valorant, @comment], local: true) do |f| %>

      <%= f.text_area :comment, :size=>"60x3",placeholder: "コメントする" %>
      <%= f.submit "送信する", class: "btn btn-success mb-4" %>

     <% end %>

        <p>コメント件数：<%= @comments.count %></p>

    <% @comments.each do |comment| %>

	   <div class="comments-index mb-2">
      <%= comment.user.name %>
       <%= comment.created_at.strftime('%Y/%m/%d') %><br>
        <div class="d-flex">

          <%= comment.comment %>

           <% if comment.user == current_user %>

            <div class="comment-delete">
              <%= link_to "削除", valorant_comment_path(comment.valorant, comment), method: :delete, class: "btn-sm btn-danger" %>
            </div>
          </div>
        </div>

        <% end %>

       <% end %>

       <%= paginate @comments %>

      </div>
    </div>