<body>

 <main2>

  <div class="show2">

  <div class="box">
    <h5>ユーザーネーム</h5>
    <%= @valorant.user.name %>
  </div>

  <div class="box">
    <h5>目的</h5>
    <%= @valorant.purpose %>
  </div>

  <div class="box">
    <h5>ロール</h5>
    <%= @valorant.role %>
  </div>

  <div class="box">
    <h5>モード</h5>
    <%= @valorant.mode %>
  </div>

  <div class="box">
    <h5>DiscordID</h5>
    <%= @valorant.discord_id %>
  </div>

  <div class="box">
    <h5>メッセージ</h5>
　  <%= @valorant.message %>
  </div>

  <div class="button">
   <% if @valorant.user == current_user %>

  　<%= link_to '削除する', valorant_path(@valorant.id),method: :delete, class: "btn-sm btn-danger","data-confirm"=>"本当に消しますか？" %><br>

   <% end %>
  </div>
 </div>



   <div class="comments">
        <%= form_with(model:[@valorant, @comment], local: true) do |f| %>
        <%= f.text_area :comment, :size=>"50x3",placeholder: "コメントする" %>
        <%= f.submit "送信する", class: "btn btn-success mb-4" %>
        <% end %>
   <br>
        <p>コメント件数：<%= @comments.count %></p>
          <% @comments.each do |comment| %>
	  <div class="comments-index mb-2">
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><br>
          <div class="d-flex">
            <%= comment.comment %>
            <% if comment.user == current_user %>
            <div class="comment-delete">
              <%= link_to "削除", valorant_comment_path(comment.valorant, comment), method: :delete, class: "btn-sm btn-danger" %>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
        <%= paginate @comments %>
      </div>
    </div>


 </main2>
</body>