<!DOCTYPE html>
<html>
  <head>
    <title>OnlineBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5fbb5dad38.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      Online Board

      <% if user_signed_in? %>
      
       <div>
        <%= link_to  "トップページ", root_path,class: "text-white"  %>
       </div>

      <div>
        <%= link_to  "マイページ", user_path(current_user),class: "text-white"  %>
      </div>

      <div>
        <%= link_to  "募集一覧", valorants_path, class: "text-white"  %>
         
      </div>

      <div>
        <%= link_to  "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %>
        
      </div>

    <% else %>

      <div>
        <%= link_to "トップページ", root_path, class: "text-white"  %>
      </div>

      <div>
        <%= link_to "サインアップ", new_user_registration_path, class: "text-white"  %>
      </div>

      <div>
        <%= link_to "ログイン", new_user_session_path, class: "text-white"  %>
      </div>

    <% end %>
     
    </header>
    
    <%= yield %>
    
  </body>
</html>